{% if entries %}
<ol class="entrylist" reversed>
    {% for entry in entries | reverse %}
    <li class="entrylist__item h-event {% if microformat %}{{ microformat }}{% endif %}">
        {% if entry.collection == 'projects' %}
            {% include "entry-projects.njk" %}
        {% else %}
            {% include "entry.njk" %}
        {% endif %}
    </li>
    {% endfor %}
</ol>
{% endif %}