.entry {
    &__header {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    &__time {
        color: $gray;
        font-size: 0.875rem;
        letter-spacing: 0.125em;
        text-transform: uppercase;
        order: -1;
        margin-bottom: 0.25rem;
    }

    &__title {
    }

    &__project-title {
        font-style: italic;
    }

    &__project-release-date {
        color: $gray;
        font-family: $font-family-base;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 0.125em;
        text-transform: uppercase;
    }

    &__organization, &__project-role {
        font-size: 1.125rem;
    }

    &__content {
        max-width: 60ch;
        * > * {
            margin-top: 1em;
        }
    }
}
